header {
  background-color: #8e313f; 
  padding: 20px;
  color: white;
  text-align: center;
  position: relative;
}

body {
  
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('img/lol.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;


}


nav {
  display: flex;
  justify-content: center; 
}


nav ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
  margin-left: 180px;
  display: flex; 
  gap: 20px; 
}




nav a {
  color: white; 
  text-decoration: none;
  font-weight: bold; 
  font-size: 1.2rem; 
  margin-right: 150px;
  transition: color 0.3s ease; 
}


nav a:hover {
  color: #ffd700; 
}


@media (max-width: 768px) {
  nav ul {
    flex-direction: column; 
  }

  nav a {
    padding: 10px 0; 
  }
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

input, button {
  margin: 10px;
 
}
input {
  padding: 10px;
  width: 500px; 
  font-size: 16px;
  border-radius: 5px; 
  border: 2px solid #8e313f; 
  margin-top: -100px;

}
.input-button-container {
  margin-top: -500px; 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8e313f; 
  color: white; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
}

button:hover {
  background-color: #581a1a;
}
.textbox-with-button {
  text-align: center;
}

.textbox-with-button img {
  width: 100px;
  margin-bottom: 20px;
}

.logo-img {
  width: 600px;
  margin-bottom: -100px;
  
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

